body {
  font-family: 'pt_serif', sans-serif;
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
 display: flex;
 justify-content: space-between;
 margin-bottom: 100px;
}
.main {
 padding-top: 108px;
 padding-right: 63%;
 padding-bottom: 206px;
background: url(img/mainImg.svg);
background-repeat: no-repeat;
background-position: top right;
background-size: 770px;
background-position-y: 34px;
}
.main-content__title{
  margin: 0 0 40px 0;
 font: bold 66px/87px pt_serif, arial, helvetica, sans-serif;
}

.main-content__text {
 margin: 0 100px  41px 0;
 font: 22px/26px Roboto, arial, helvetica, sans-serif;

}
.main__title-text_highlight {
 background: #ECF3FF;
}
.main-content__button {
  display: inline-block;
 font: 18px/21px Roboto, arial, helvetica, sans-serif;
 color: #fff;
background: #0056EC;
 padding: 18px 21px;
text-decoration: none;
border-radius: 4px;
transition: opacity .5s;
}
.main-content__button:hover {
opacity: .5;
}

.logo, .menu {
 display: inline-block;
}
.logo {
 padding: 40px 0;
 font-family: pt_serifbold, arial, helvetica, sans-serif;
 font-weight: bold;
 font-size: 24px;
 line-height: 31px;
 position: relative;
 padding-left: 44px;
}
.logo__circle {
position: absolute;
left: 4px;
top: 50%;
transform: translateY(-50%);
width: 28px;
height: 28px;
border-radius: 50%;
opacity: .7;
}
.logo__circle_color_blue {
 background: #C8DBFB;
 left: 8px;
 top: 56%;
 margin-left: 4px;
}
.logo__circle_color_dark-blue {
 background: #0056EC;
}
.menu {
  display: flex;
    align-items: center;
    padding-top: 9px;
margin-right: -458px;
}
.menu__item {
position: relative;
font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
margin-right: 26px;
color: #000;
text-decoration: none;
}
.menu__item:last-child {
 margin-right: 0;
}
.menu__item::after{
  position: absolute;
  display: block;
  content: "";
  left:0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity.5s, width.5s;
}
.menu__item:hover {
 opacity: 0.5;
}
.menu__item:hover::after, .menu__item_activ:after{
  opacity: 1;
  width: 100%;
}
.main-content__title {
  font-family: 'PT Serif', serif;
}
@media (max-width: 768px) {
 .menu {
 display: none;
 }
 .logo__text{
   display: none;
 }

 .logo {
  padding: 40px 0;
  font-family: pt_serifbold, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  position: relative;
  padding-left: 44px;
 }
 .logo__circle {
 position: absolute;
 left: -13px;
     top: 46%;
 transform: translateY(-50%);
 width: 28px;
 height: 28px;
 border-radius: 50%;
 opacity: .7;
 }
 .logo__circle_color_blue {
  background: #C8DBFB;
  left: -6px;
  top: 56%;
 }
 .logo__circle_color_dark-blue {
  background: #0056EC;
 }
 .header {
 margin-bottom: 28px;
 }
 .main {

    padding-top: 100px;
    background: url(img/mainImg.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 82%;
    background-position: center;
    background-position-y: -26px;
    margin-right: -24px;
    margin-left: -21px;
    margin-top: -26px;
    background-position-y: 3px;
    padding: 80% 56px 0px;
 }
 .main-content__title {
      margin-top: 25px;
      margin-bottom: 36px;
 font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
 }
 .main-content__text {

margin-left: -11px;
 margin-bottom: -13px;
 font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
 }
 .main-content__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 25px;
    padding-bottom: 13px;
 }

 .label-burger {
  display: flex;
  /* display: block;*/
  align-items: center;
  position: fixed;
  left: 326px;
  top: 32px;
  right: 24px;
  width: 25px;
  height: 17px;
  cursor: pointer;
  z-index: 3;
}
.label-burger > span,
.label-burger > span::before,
.label-burger > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background: #0056ec;

}
.label-burger > span::before {
  content: "";
  top: -7px;
}
.label-burger > span::after {
  content: "";
  top: 7px;
}
}
///////
