body {
  font-family: 'pt_serif', sans-serif;
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 100%;
}
.header {
 display: flex;
 justify-content: space-between;
 margin-bottom: 100px;
}
.main {
  padding-top: 108px;
padding-right: 27%;
padding-left: 43px;
margin-left: 26px;
padding-bottom: 346px;
background: url(img/mainImg.svg);
background-repeat: no-repeat;
background-position: top right;
background-size: 920px;
margin-right: 220px;
background-position-y: 58px;
}
.main-content__title{
    margin: 33px 350px 249px 158px;

  font: bold 81px/105px pt_serif, arial, helvetica, sans-serif;
}
.main-content__text {
/* margin: 0 100px  41px 0;*/
    margin: -206px 650px 52px 168px;

font: 26px/30px Roboto, arial, helvetica, sans-serif;
}
.main__title-text_highlight {
 background: #ECF3FF;
}
.main-content__button {
  display: inline-block;
 font: 22px/19px Roboto, arial, helvetica, sans-serif;
 color: #fff;
background: #0056EC;
margin-left: 165px;
    background: #0056EC;
    padding: 25px 46px 29px 21px;
text-decoration: none;
border-radius: 4px;
transition: opacity .5s;
}
.main-content__button:hover {
opacity: .5;
}
.logo, .menu {
 display: inline-block;
}
.logo {
 padding: 54px 0;
 font-family: pt_serifbold, arial, helvetica, sans-serif;
 font-weight: bold;
 font-size: 30px;
 line-height: 30px;
 position: relative;
 padding-left: 289px;
}
.logo__circle {
position: absolute;
left:  234px;
top: 48%;
transform: translateY(-50%);
width: 35px;
height: 35px;
border-radius: 50%;
opacity: .7;
}
.logo__circle_color_blue {
 background: #C8DBFB;
 left: 241px;
top: 54%;
margin-left: 4px;
}
.logo__circle_color_dark-blue {
 background: #0056EC;
}
.menu {
  display: flex;
  align-items: center;
  padding-top: 5px;
margin-right: -350px;
}
.menu__item {
  position: relative;
  font: 500 21px/21px Roboto, arial, helvetica, sans-serif;
  margin-right: 33px;
  color: #000;
  text-decoration: none;
}
.menu__item:last-child {
 margin-right: 0;
}
.menu__item::after{
  position: absolute;
  display: block;
  content: "";
  left:0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity.5s, width.5s;
}
.menu__item:hover {
 opacity: 0.5;
}
.menu__item:hover::after, .menu__item_activ:after{
  opacity: 1;
  width: 100%;
}
.main-content__title {
  font-family: 'PT Serif', serif;
}
/*@media (max-width: 375px) {
 .menu {
 display: none;
 }
 .header {
margin-bottom: 28px;
}
.main {
padding: 74% 0 0;
background-size: 74%;
background-position: top center;
}
.main__title {
margin-bottom: 44px;
font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
}
.main__subtitle {
margin-bottom: 25px;
font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
}
.main__button {
font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}
}


/*@media  (max-width: 400px) {
  .menu {
 display: none;
 }
 .header {
 margin-bottom: 28px;
 }
 .main {
  text-align: center;
  padding: 74% 0 0;
  background-size: 74%;
  background-position: top center;
  }
 }
 .main__title {
margin-bottom: 44px;
font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
}
.main__subtitle {
margin-bottom: 25px;
font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
}
.main__button {
font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}
}


/* .logo__text{
   display: none;
 }
 .logo {
  padding: 40px 0;
  font-family: pt_serifbold, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  position: relative;
  padding-left: 44px;
 }
 .logo__circle {
 position: absolute;
 left: -13px;
 top: 46%;
 transform: translateY(-50%);
 width: 28px;
 height: 28px;
 border-radius: 50%;
 opacity: .7;
 }
 .logo__circle_color_blue {
  background: #C8DBFB;
  left: -6px;
  top: 56%;
 }
 .logo__circle_color_dark-blue {
  background: #0056EC;
 }
 .header {
 margin-bottom: 28px;
 }
 /*.main {
    padding-top: 100px;
    background: url(img/mainImg.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 82%;
    background-position: center;
    background-position-y: -26px;
    margin-right: -24px;
    margin-left: -21px;
    margin-top: -26px;
    background-position-y: 3px;
    padding: 80% 56px 0px;
 }
 .main-content__title {
      margin-top: 25px;
      margin-bottom: 36px;
 font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
 }
 .main-content__text {
   margin-left: -4px;
   margin-bottom: 24px;
   font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
 }
 .main-content__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 25px;
    padding-bottom: 13px;
 }
 .label-burger {
  display: flex;
  /* display: block;*/
  /*align-items: center;
  position: fixed;
  left: 326px;
  top: 32px;
  right: 24px;
  width: 25px;
  height: 17px;
  cursor: pointer;
  z-index: 3;
}
.label-burger > span,
.label-burger > span::before,
.label-burger > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background: #0056ec;
}
.label-burger > span::before {
  content: "";
  top: -7px;
}
.label-burger > span::after {
  content: "";
  top: 7px;
}
}

@media (min-width: 900px) and (max-width: 1300px) {
  .wrapper {
    width: 100%;
  }

.header {
    margin-bottom: 50px;
  }
  .logo__circle {
    left: -69px;
  top: 42%;
  width: 22px;
    height: 22px;
  }
  .logo__circle_color_blue {
    left: -67px;
 top: 48%;
 margin-left: 4px;
  }
  .logo__text {
    font-size: 18px;
  margin-top: -13px;
  margin-left: -80px
  }
  .menu {
    padding-right: 502px;
  padding-bottom: 18px;
  }
  .menu__item {
        font: 500 10px/10px Roboto, arial, helvetica, sans-serif;
            margin-right: 20px;
  }
  .main {
    background-position: right;
padding-top: 0%;
padding-bottom: 9%;
background-position-x: 42%;
margin-right: -138px;
background-size: 384px;
  }

  .main-content__title {
    margin: -33px 215px 43px -69px;
      font: bold 38px/46px pt_serif, arial, helvetica, sans-serif;
  }

  .main-content__text {
    max-width: 80%;
    margin-left: -69px;
    margin-top: -10px;
    margin-right: 249px;
    padding-right: -181px;
    font: 13px/18px Roboto, arial, helvetica, sans-serif;
  }

  .main-content__button {
    margin-top: 15px;
padding: 9px 13px;
margin-left: -70px;
margin-bottom: -15px;
    font: 11px/16px Roboto, arial, helvetica, sans-serif;
   }
}
@media (min-width:1301px) and (max-width: 1600px){
.logo__circle_color_blue,
.logo__circle_color_dark-blue {
  margin-left: 80px;
}
.wrapper {
  width: 100%;
}
.header {

 margin-bottom: 76px;
}
.logo__text {
  padding-left: 83px;
  font-size: 24px;
  margin-top: 1px
}
.menu {
padding-right: 345px;

}
.menu__item {
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}
.main {
  padding-right: 38%;
  background-position: center;
  padding-top: 1%;
  padding-bottom: 6%;
  background-position-x: 70%;
  margin-right: -135px;
  background-size: 520px;
}

.main-content__title {

      margin: -23px 79px 84px -69px;
      font: bold 37px/49px pt_serif, arial, helvetica, sans-serif;
}

.main-content__text {
  max-width: 83%;
margin-left: -69px;
margin-top: -52px;
/*margin-right: 263px;*/
/*font: 13px/17px Roboto, arial, helvetica, sans-serif;
}

.main-content__button {
  margin-top: 15px;
  padding: 9px 13px;
  margin-left: -70px;
  margin-bottom: -15px;
  font: 11px/16px Roboto, arial, helvetica, sans-serif;

 }
}*/
/*@media (min-width: 1600px) {
  .wrapper {
    margin: auto;
    width: 80%;
  }
  .header {
    margin-bottom: 9%;
  }
/*  .menu__box {
    padding: 30px 0;
  }*/
  /*.menu__item {
    margin-right: 27px;
    font: 500 18px/20px "Roboto", arial, helvetica, sans-serif;
  }
  .menu__item:last-child {
    margin-right: 7px;
  }
  .main {
    width: 37%;
    padding-right: 63%;
    background-size: 760px;
    background-position: top right;
    padding-top: 4%;
    padding-bottom: 13%;
    background-position-x: 99%;
  }
  .main-content__title {
    margin: 0 0 35px 0;
    margin-top: 10px;
    font: bold 66px/87px "pt_serif", arial, helvetica, sans-serif;
  }
  .main-content__text {
    margin: 0 0 56px 0;
    font: 500 22px/26px "Roboto", arial, helvetica, sans-serif;
    max-width: 455px;
  }
  .main-content__button {
    font: 500 19px/24px "Roboto", arial, helvetica, sans-serif;
    padding: 18px 22px;
  }
}
